@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.logo {
	width: 150px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
  }

header{
	background-color: var(--primary-b);
	height: 200px;
	width: 100%;
	box-shadow: 5px 6px 6px 6px #02111f;
}
.header input[type=text] {
	float: right;
  }

.topnav{
	text-align: center;
}
.topnav a {
	display: center;
	background-color: var(--primary-b);
	float: center;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 100px;
	border-radius: 5px;
	margin: 20px;
	font-family: 'Comfortaa', cursive;
  }

.title {
	width: 100%;
	height: 120px;
	margin: 25px;
	padding: 45px;
	font-family: 'Poiret One', cursive;
	font-size: 3em;
  }

.button {
	background-color: #8aa399;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1em;
	float: center;
  }

.container1{
	display:grid;
  grid-template-columns:  auto 800px;
  grid-template-rows: 400px 400px ;
  grid-gap: 10px;
  height: 900px;
  background-color: #fbfefb;
  padding: 20px;
}
.stu_gallery1{
	width: 100%; 
	height: 100%; 
	object-fit: contain; 
	display:grid;
  }
.sturec img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  }
.stu_gallery2{
	width:90%;
	height:90%;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	display: grid;
	overflow: hidden;
	position: center;
  }

.stuport img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  }
.program_availability{
	font-family: 'Comfortaa', cursive;
}

.overview{
	display: grid;
	grid-template-columns: auto auto auto;
	grid gap: 20px;
	padding: 10px;
	background-color: #1e2019;
	width:100%;
	height: 300px;
	color: white; 
	font-family: 'Comfortaa', cursive;
	
}

.program_availability img{
	max-width:10%;
	height:auto;
	display: block;
}

.program img{
	max-width:30%;
	height:auto;
	display: block;
  	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	
}
.skills img{
	max-width:30%;
	height:auto;
	display: block;
  	margin-left: auto;
	  margin-right: auto;
	  padding: 20px;
	
}
.software img{
	max-width:30%;
	height:auto;
	display: block;
  	margin-left: auto;
	  margin-right: auto;
	  padding: 20px;
}
body {
	background-color: var(--primary-a);
	font-weight: 200;
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-size: 1.5rem;
	color:var (--on-background);
	font: normal normal 1em/1.5 var(--font-standard);
}

a:hover{
	background-color: var(--secondary-a);
}


html {
	/* Background colours*/
	--primary-a:#f0f8ff;
	--primary-b:#041a2f;
	--secondary-a:#03dac6;
	--secondary-b:#5e6472;
}
.graduate{
	width: 5em;
	height: 5em;
	background-color:#048ba8;
	color: white;
	border:0;
	border-radius:50%;
	box-shadow:0 0 1em rbga(0,0,0,0.4);
	text-align: center;
	line-height:1em;
	transition: all 0.3s;
	cursor:pointer;
	
	
	position:fixed;
	top: 5em;
	right: 1em;
	z-index: 1;

}

footer {
	background-color: var(--secondary-b);
	width:100%;
	height: 250px;
	color: white;
	font-family: 'Comfortaa', cursive;
	padding: 5px 5px 5px 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
